* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: "Montserrat";
  font-weight: 600;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #585858;
}
/* MY PAGE LINKS */
.home {
  display: flex;
  gap: 30px;

  position: absolute;
  top: 2.5%;
  z-index: 6;

  font-weight: 800;
  font-size: 1rem;
  color: #c1a8a8;
  text-decoration: none;
  padding: 0.8rem;
  border: 1px solid #c1a8a8;
  border-radius: 25px;
}
/* ----------- */
header,
.hero {
  background-color: #f6f5f4;
}
.wrapper {
  max-width: 1180px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 24px;
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  font-size: 24.348px;
  line-height: 100%;

  letter-spacing: -0.02em;
  color: black;
  padding-right: 30px;
  border-right: 1px solid #cabdbd;
}
ul {
  display: flex;
  gap: 30px;
  padding-left: 30px;
}
.active {
  color: black;
}
/*  код від АІ для псевдокласу*/
li {
  position: relative;
}

/* li:last-child::after {
  content: "";
  position: absolute;
  top: 63%;
  right: -22%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #585858 transparent transparent transparent;
  cursor: pointer;
} */
/* 
li:hover::after {
  border-color: #000 transparent transparent transparent;
} */

li:last-child > a::after {
  content: "›";
  display: block;
  height: auto;
  margin-left: 5px;
  transform: rotate(90deg);
  position: absolute;
  top: 10%;
  right: -22%;
}

/* --------- */
.user-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.user {
  display: flex;
  align-items: center;
}
.user img {
  margin-right: 10px;
}
.user-name {
  color: #757575;
}
.sign {
  position: relative;
}
.sign-in {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -0.04em;
  color: black;
}
.sign-in::after {
  content: "➡";
  margin-left: 5px;
}
/* -----hero------ */

.hero-text {
  margin-top: 5.7rem  ;
}

.hero-text p:first-child {
  color: #2b788b;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.14em;
}
h1 {
  color: black;
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -0.04em;

  width: 30rem;
  margin-block: 24px 30px;
}
.hero-text p:nth-of-type(2) {
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.04em;
  color: #757575;
  width: 75%;
}

.hero-text a {
  display: block;
  width: max-content;
  padding: 14px 22px;
  background: #c3dce3;
  border-radius: 100px;

  color: #2b788b;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 16px;

  margin-block: 32px 48px;
}
/* --- */
.secondary-text {
  display: flex;
  width: 73%;
  justify-content: space-between;
  padding-bottom: 134px;

  position: relative;
}
.secondary-text::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 59%;
  transform: translateX(-50%);
  width: 1px;
  height: 33%;
  background-color: #E0E0E0
  ;
}
.secondary-wrapper {
  text-align: center;
}
.secondary-child {
  display: flex;
  align-items: center;
}
.secondary-child img {
margin-right: 10px;
}
.num {
  font-family: "Dela Gothic One";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.02em;

  color: #000000;
}
.num span {
  color: #2b788b;
}

.mini-text {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: -0.04em;
  color: #585858;
  margin-top: 3px;
}
/* --- */
.hero-img {
  position: absolute;
  left: 45%;
  top: 15%;
}

/* -------media screen------- */
@media screen and (max-width: 760px) {
  .wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding-inline: 30px;
  }
}
